/*!
 * 自定义css
 * 
 */
 
 .topnavbar .navbar-header .brand-logo-collapsed{
 	padding:16px 15px;
 }
 
 .wrapper > .aside{
 	width:130px;
 }
 
.wrapper > .aside .aside-inner{
	width:130px;
}

.wrapper > section, .wrapper > footer{
	margin-left: 130px;
}

.sidebar > ul > .ng-scope > a{
	font-size: 1.2em;
}

.sidebar > .nav > li > a, .sidebar > .nav > li > .nav-item{
	padding:15px 45px;
}

/* 定义直角 */
.right-angle {
    /* border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important; */
    border-radius:0 !important;
}
/* 定义表格的表头字体居中显示 */
.wp-text-center > tr >th{
	text-align: center !important;
}

.pd20{
	padding: 20px;
}

.pd10{
	padding: 10px;
}

.h20{
	height: 20px;
}

.dispaly-inline{
	display: inline;
}
.wp-input{
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	width:88%;
}

.wp-input-div{
	width:86%;
}

.radius-left{
	border-top-left-radius:100px;
	border-bottom-left-radius:100px;
	padding: 6px;
}
.radius-right{
	border-top-right-radius:100px;
	border-bottom-right-radius:100px;
	padding: 6px;
}
.wp-input-group{
	display: inline-table;
}
.radius-left:hover,.radius-right:hover{
	cursor: pointer;
}

.clear-input{
	display: inline; 
	position: absolute; 
	width: 16px; 
	height: 16px; 
	margin: 10px 0 0 -20px; 
	/* background: url(../img/ic_clear_normal.png) no-repeat;  */
	outline: none; 
	z-index: 2;
	/* background-image: url(../img/ic_clear_normal.png); 
	background-position: 50% 50%; 
	background-repeat:no-repeat; */
}
.user-level-label{
	width:35px;
	position: absolute; 
	margin: 10px 0 0 -60px;
	z-index: 2;
	background: #fdd331;
	text-align:center
}
.user-label{
	border-radius:100px;
	padding:4px 15px 4px 15px;
	display: inline-table;
}
.pend-btn{
	padding:25px;
	background:#a9b9c8;
	text-align:center;
	color:#fff;
	font-weight:800;
	font-size:15px;
	cursor:pointer;
}
.pend-btn:hover{
	background: #b8c5d2;
}
.settle-accounts{
	padding:25px;
	background:#ff643c;
	text-align:center;
	color:#fff;
	font-weight:800;
	font-size:15px;cursor:pointer;
}
.settle-accounts:hover{
	background:#fd8162;
}
.sidebar > .nav > li:hover{
	border-left: 3px solid #ffffff;
}

.search-btn{
	background:#ff643c;
	color:#ffffff;
}
.search-btn:hover{
	background:#fd8162;
	color:#ffffff;
}

/*dialog style*/
.ngdialog-content{
	padding: 0 !important;
	text-align: center;
}
.ngdialog-message >ul{
	padding: 0;
}
.cd-buttons::after {
    clear: both;
    content: "";
    display: table;
}
ol, ul {
    list-style: outside none none;
}
.cd-buttons li {
    float: left;
    width: 50%;
}
.cd-buttons li:first-child a {
    background: #ff643c none repeat scroll 0 0;
    border-radius: 0 0 0 0.25em;
}
.cd-buttons li:first-child a:hover{
	background:#fd8162;
}
.cd-buttons a {
    color: #fff;
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s;
}
a {
    text-decoration: none!important;
}
.cd-buttons li:last-child a {
    background: #a9b9c8 none repeat scroll 0 0;
    border-radius: 0 0 0.25em;
}
.cd-buttons li:last-child a :hover{
    background: #b8c5d2 none repeat scroll 0 0;
}
/*挂单层*/
.pending-btn-remove{
	font-size: 12px;
    padding: 2px 15px;
}
.pending-btn-remove:hover{
	color:#fff;
}
.pending-btn-getOrder{
	color:#fff;
	font-size: 12px;
    padding: 2px 15px;
	background:#465564 none repeat scroll 0 0;
}
.pending-btn-getOrder:hover{
	color:#fff;
	background: #6b7783 none repeat scroll 0 0;
}