<h3>{{ 'sidebar.nav.Cashier' | translate}}Pos</h3>
<div class="row">
   <div class="col-lg-12">
      <!-- START List group-->
      <ul class="list-group">
         <li class="list-group-item right-angle">
            <div class="row pd20">
               <div class="col-xs-5">
                  <div class="input-group">
					 <input class="form-control right-angle" type="text">
					 <span class="input-group-btn">
					 	<button class="btn btn-default bg-danger right-angle" type="button">搜索</button>
					</span>
				  </div>
               </div>
            </div>
         </li>
         <li class="list-group-item right-angle">
         	<table id="table-ext-1" class="table table-bordered table-hover text-center">
		         <thead class="bg-gray wp-text-center">
		            <tr>
		               <th style="width:10%;">商品图</th>
		               <th style="width:30%;">商品名称</th>
		               <th style="width:10%;">吊牌价</th>
		               <th style="width:15%;">现价</th>
		               <th style="width:15%;">数量</th>
		               <th style="width:10%;">合计</th>
		               <th style="width:10%;">操作</th>
		            </tr>
		         </thead>
		         <tbody>
		            <tr>
		               <td>
		                  <div class="media">
		                     <img src="app/img/user/01.jpg" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>@twitter</td>
		               <td>Larry</td>
		               <td><input class="form-control form-control-rounded dispaly-inline wp-input" type="text"></td>
		               <td>
		               	   <div class="input-group wp-input-div wp-input-group">
								<span class="input-group-addon radius-left"><img ng-src="app/img/ic_sub_normal.png" class="h20"></span>
								<input class="form-control" type="text">
								<span class="input-group-addon radius-right"><img ng-src="app/img/ic_plus_normal.png" class="h20"></span>
							</div>
		               </td>
		               <td class="text-center">
		                  <div data-label="25%" class="radial-bar radial-bar-25 radial-bar-xs"></div>
		               </td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20"></td>
		            </tr>
		            <tr>
		               <td>
		                  <div class="media">
		                     <img src="app/img/user/02.jpg" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>@mdo</td>
		               <td>Mark</td>
		               <td><input class="form-control form-control-rounded dispaly-inline wp-input" type="text"></td>
		               <td>
							<div class="input-group wp-input-div wp-input-group">
								<span class="input-group-addon radius-left"><img ng-src="app/img/ic_sub_normal.png" class="h20"></span>
								<input class="form-control" type="text">
								<span class="input-group-addon radius-right"><img ng-src="app/img/ic_plus_normal.png" class="h20"></span>
							</div>
						</td>
		               <td class="text-center">
		                  <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
		               </td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20"></td>
		            </tr>
		            <tr>
		               <td>
		                  <div class="media">
		                     <img src="app/img/user/03.jpg" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>@fat</td>
		               <td>Jacob</td>
		               <td><input class="form-control form-control-rounded dispaly-inline wp-input" type="text"></td>
		               <td>
		               	  <div class="input-group wp-input-div wp-input-group">
								<span class="input-group-addon radius-left"><img ng-src="app/img/ic_sub_normal.png"  class="h20"></span>
								<input class="form-control" type="text">
								<span class="input-group-addon radius-right"><img ng-src="app/img/ic_plus_normal.png" class="h20" ></span>
							</div>
		               </td>
		               <td class="text-center">
		                  <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
		               </td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20"></td>
		            </tr>
		            <tr>
		               <td colspan="4"></td>
		               <td><h4 style="color: #ff6c40;">1</h4></td>
		               <td><h4 style="color: #ff6c40;">18.0</h4></td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20"></td>
		            </tr>
		         </tbody>
		      </table>
         </li>
         <li class="list-group-item right-angle" style="background:#f5f7fa;">
            <div class="row">
               <div class="col-xs-2">
                  <div class="input-group">
					<span class="input-group-btn" style="border:1px solid #ddd;padding:5px;border-right:0;">
						<img ng-src="app/img/ic_member_normal.png" class="h20">
					</span>
					<input class="form-control" type="text" value="林先生 13512057922">
					<span class="user-level-label">VIP 3</span>
					<img ng-src="app/img/ic_clear_normal.png" style="height: 15px;" class="clear-input">
					<!-- <a class="clear-input"></a> -->
				  </div>
               </div>
               <div class="col-xs-2">
               		<div class="label label-success user-label">跑步</div>
               		<div class="label label-success user-label">健身达人</div>
               		<div class="label label-info user-label">小正太</div>
               		<div class="label label-success user-label">老客户</div>
               		<div class="label label-success user-label">老年第三口</div>
               		<div class="label label-success user-label">驴友</div>
               		<div class="label label-danger user-label">二不愣</div>
               </div>
               <div class="col-xs-2">
               		<div class="input-group wp-input-div wp-input-group">
						<input class="form-control radius-left" type="text" placeholder="输入标签信息" style="border-right:0">
						<span class="input-group-addon radius-right" style="background-color:#fff;"><img ng-src="app/img/ic_plus_normal.png" class="h20" ></span>
					</div>
               </div>
               <div class="col-xs-2">
               		<p>实收金额:<span style="font-size: 2.0em;">0.00</span></p>
               </div>
            </div>
         </li>
         <li class="list-group-item right-angle" style="background:#f5f7fa;padding-bottom:0;padding-top:0;margin-top:0;margin-bottom:0">
            <div class="row">
               <div class="col-xs-1">
               		<div style="padding-top:10px;padding-bottom:10px;width:53%;border-right:1px solid #e4eaec;">
               			<img ng-src="app/img/ic_pending_order.png" style="height:50px;">
               			<div class="label label-danger" style="border-radius:100px;">2</div>
               			<!-- <div class="circle circle-danger circle-lg text-left">12</div> -->
               		</div>
               </div>
            </div>
         </li>		
      </ul>
   </div>
</div>


