<!-- <h3>{{ 'sidebar.nav.Cashier' | translate}}Pos</h3> -->
<div class="row" ng-show="!pendingFlag && searchFlag">
   <div class="col-lg-12">
      <!-- START List group -->
      <ul class="list-group">
         <li class="list-group-item right-angle">
            <div class="row pd10">
               <div class="col-xs-5">
                  <div class="input-group">
					 <input class="form-control right-angle" type="text" ng-model="searchContent">
					 <span class="input-group-btn">
					 	<button class="btn btn-default search-btn right-angle" type="button" ng-click="searchProduct(searchContent)">搜索</button>
					</span>
				  </div>
               </div>
            </div>
         </li>
         <li class="list-group-item right-angle">
         	<table id="table-ext-1" class="table table-bordered table-hover text-center">
		         <thead class="bg-gray wp-text-center">
		            <tr>
		               <th style="width:10%;">商品图</th>
		               <th style="width:30%;">商品名称</th>
		               <th style="width:10%;">吊牌价</th>
		               <th style="width:15%;">现价</th>
		               <th style="width:15%;">数量</th>
		               <th style="width:10%;">合计</th>
		               <th style="width:10%;">操作</th>
		            </tr>
		         </thead>
		         <tbody>
		         	<tr ng-if="shoppingCart == ''">
		         		<td colspan="7">
		         			<img ng-src="app/img/ic_cart_empty.png">
		         			<p style="color:#c8d7e6;font-size:1.5em;font-weight:700;">请添加购物商品,进行结账 </p>
		         		</td>
		         	</tr>
		         	<tr ng-repeat="sc in shoppingCart">
		         		<td>
		                  <div class="media">
		                     <img ng-src="{{sc.productImage}}" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>{{sc.productName}}
		               		<p><small class="text-muted" style="padding:0 10px 0 10px;">{{sc.color}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.size}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.styleNumber}}</small>
	               			</p>
		               </td>
		               <td>{{sc.tagPrice | number:2 }}</td>
		               <td><input class="form-control form-control-rounded dispaly-inline wp-input text-center" type="text" ng-model="sc.currentPrice" check-price="check-price"></td>
		               <td>
		               	   <div class="input-group wp-input-div wp-input-group">
								<span class="input-group-addon radius-left" number-operation="number-operation"><img ng-src="app/img/ic_sub_normal.png" class="h20"></span>
								<input class="form-control text-center" type="text" ng-model="sc.number" check-number="check-number">
								<span class="input-group-addon radius-right" number-operation="number-operation"><img ng-src="app/img/ic_plus_normal.png" class="h20"></span>
						  </div>
		               </td>
		               <td class="text-center">
		                  {{sc.currentPrice*sc.number | number:2}}
		               </td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20" ng-click="delProduct($index,sc.productId)"></td>
		         	</tr>
		            <tr ng-if="shoppingCart != ''">
		               <td colspan="4"></td>
		               <td><h4 style="color: #ff6c40;">{{shoppingCart | sumOfNumber:'number' }}</h4></td>
		               <td><h4 style="color: #ff6c40;">{{shoppingCart | sumOfPrice:'currentPrice':'number' | number:2}}</h4></td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20" ng-click="clearShoppingCart();"></td>
		            </tr>
		         </tbody>
		      </table>
         </li>
         <li class="list-group-item right-angle" style="background:#f5f7fa;">
            <div class="row">
               <div class="col-lg-3 col-xs-4">
                  <div class="input-group">
					<span class="input-group-btn" style="border:1px solid #ddd;padding:5px;border-right:0;">
						<img ng-src="app/img/ic_member_normal.png" class="h20">
					</span>
					<input class="form-control" type="text" value="林先生 13512057922">
					<span class="user-level-label">VIP 3</span>
					<img ng-src="app/img/ic_clear_normal.png" style="height: 15px;" class="clear-input">
					<a class="clear-input"></a>
				  </div>
               </div>
               <div class="col-lg-3 col-xs-3">
               		<div class="label label-success user-label">跑步</div>
               		<div class="label label-success user-label">健身达人</div>
               		<div class="label label-info user-label">小正太</div>
               		<div class="label label-success user-label">老客户</div>
               		<div class="label label-success user-label">老年第三口</div>
               		<div class="label label-success user-label">驴友</div>
               		<div class="label label-danger user-label">二不愣</div>
               </div>
               <div class="col-lg-4 col-xs-4">
               		<div class="input-group wp-input-div wp-input-group">
						<input class="form-control radius-left" type="text" placeholder="输入标签信息" style="border-right:0">
						<span class="input-group-addon radius-right" style="background-color:#fff;"><img ng-src="app/img/ic_plus_normal.png" class="h20" ></span>
					</div>
               </div>
               <div class="col-lg-2 col-xs-2 pull-right" style="font-size:1.2em;padding-top:10px;">
               		<div class="row">
               			<div class="col-lg-6 pull-right" style="word-wrap:break-word;color:#ff643c;font-weight:900;">{{shoppingCart | sumOfPrice:'currentPrice':'number' |number:2}}</div>
               			<div class="col-lg-6 pull-right text-center">实收金额:</div>
               		</div>
               </div>
            </div>
         </li>
         <li class="list-group-item right-angle" style="background:#f5f7fa;padding-bottom:0;padding-top:0;margin-top:0;margin-bottom:0">
            <div class="row">
               <div class="col-lg-2 col-xs-2">
               		<div style="padding-top:10px;padding-bottom:10px;width:53%;border-right:1px solid #e4eaec;" ng-click="showPendingList(true);">
               			<img ng-src="app/img/ic_pending_order.png" style="height:50px;">
               			<div class="label label-danger" style="border-radius:100px;position:absolute;margin:-3px 0 0 -15px;">2</div>
               		</div>
               </div>
               <div class="col-md-2">
		         <!-- START button group -->
		         <div dropdown="dropdown" class="btn-group" style="padding-top:18px;">
		            <button dropdown-toggle="" class="btn btn-default" style="padding-left:5px;">
		            	<img ng-src="app/img/ic_salesman_normal.png" style="height:20px;padding-right:5px;">选择销售员 <b class="caret" style="margin-left:25px;"></b>
		            </button>
		            <ul role="menu" class="dropdown-menu animated swing">
		               <li><a href="#">源小一</a></li>
		               <li><a href="#">源小二</a></li>
		               <li><a href="#">源小三</a></li>
		               <li><a href="#">源小四</a></li>
		            </ul>
		         </div>
		         <!-- END button group -->
			   </div>
			   <div class="col-md-2" style="margin-top:15px;">
				   	<div style="padding:10px;background:#fff">
				   		<img ng-src="app/img/ic_cashier_normal.png" style="height:20px;">{{user.name}}
				   	</div>
			   </div>
			   <div class="col-md-4 pull-right">
			   		<div class="row">
			   			<div class="col-lg-4 pull-right settle-accounts">
			   				结账
			   			</div>
			   			<div class="col-lg-3 pull-right pend-btn" ng-click="pending();">
			   				挂单
			   			</div>
			   		</div>
			   </div>
            </div>
         </li>		
      </ul>
   </div>
</div>

<!-- 挂单页面 -->
<div class="row" ng-show="pendingFlag" animate  data-play="rotateInUpLeft" data-offset="0">
   <div class="col-lg-12">
      <!-- START List group -->
      <ul class="list-group">
      	 <li class="list-group-item right-angle" style="background:#f5f7fa;padding-bottom:0;padding-top:0;margin-top:0;margin-bottom:0">
            <div class="row">
			   <div class="col-md-1 pull-right settle-accounts" ng-click="showPendingList(false);">
			   		返回
			   </div>
            </div>
         </li>
         <li class="list-group-item right-angle">
         	<table id="table-ext-1" class="table table-bordered table-hover text-center">
		         <thead class="bg-gray wp-text-center">
		            <tr>
		               <th style="width:20%;">商品图</th>
		               <th style="width:30%;">商品名称</th>
		               <th style="width:20%;">挂单时间</th>
		               <th style="width:30%;">挂单操作</th>
		            </tr>
		         </thead>
		         <tbody>
		         	<tr ng-repeat="sc in shoppingCart">
		         		<td>
		                  <div class="media">
		                     <img ng-src="{{sc.productImage}}" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>{{sc.productName}}
		               		<p><small class="text-muted" style="padding:0 10px 0 10px;">{{sc.color}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.size}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.styleNumber}}</small>
	               			</p>
		               </td>
		               <td class="text-center">
		                  {{sc.currentPrice*sc.number | number:2}}
		               </td>
		               <td>
					   		<button class="btn settle-accounts pending-btn-remove">删除</button>
					   		<button class="btn pending-btn-getOrder">取单</button>
					   </td>
		         	</tr>
		            <tr ng-if="shoppingCart != ''">
		               <td colspan="1"></td>
		               <td><h4 style="color: #ff6c40;">{{shoppingCart | sumOfNumber:'number' }}</h4></td>
		               <td><h4 style="color: #ff6c40;">{{shoppingCart | sumOfPrice:'currentPrice':'number' | number:2}}</h4></td>
		               <td><img ng-src="app/img/ic_delete_normal.png" class="h20" ng-click="clearShoppingCart();"></td>
		            </tr>
		         </tbody>
		      </table>
         </li>
      </ul>
   </div>
</div>


<!-- 查询商品页面 start -->
<div class="row" ng-if="!searchFlag">
   <div class="col-lg-12">
      <!-- START List group -->
      <ul class="list-group">
         <li class="list-group-item right-angle">
            <div class="row pd10">
               <div class="col-xs-5">
                  <div class="input-group">
					 <input class="form-control right-angle" type="text">
					 <span class="input-group-btn">
					 	<button class="btn btn-default search-btn right-angle" type="button">搜索</button>
					</span>
				  </div>
               </div>
            </div>
         </li>
         <li class="list-group-item right-angle">
         	<table id="table-ext-1" class="table table-bordered table-hover text-center">
		         <thead class="bg-gray wp-text-center">
		            <tr>
		            	<th style="width:5">序号</th>
		               <th style="width:10%;">商品图</th>
		               <th style="width:25%;">商品名称</th>
		               <th style="width:10%">库存</th>
		               <th style="width:10%;">吊牌价</th>
		               <th style="width:10%;">现价</th>
		               <th style="width:20%;">优惠信息</th>
		               <th style="width:10%;">操作</th>
		            </tr>
		         </thead>
		         <tbody infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='0' infinite-scroll-immediate-check='false'>
		         	<tr ng-if="productList == ''">
		         		<td colspan="7">
		         			<img ng-src="app/img/ic_cart_empty.png">
		         			<p style="color:#c8d7e6;font-size:1.5em;font-weight:700;">请添加购物商品,进行结账 </p>
		         		</td>
		         	</tr>
		         	<tr ng-repeat="sc in productList">
		         		<td>{{$index+1}}</td>
		         		<td>
		                  <div class="media">
		                     <img ng-src="{{sc.productImage}}" alt="Image" class="img-responsive img-circle" />
		                  </div>
		               </td>
		               <td>{{sc.productName}}
		               		<p><small class="text-muted" style="padding:0 10px 0 10px;">{{sc.color}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.size}}</small>
		               			<small class="text-muted" style="padding:0 10px 0 10px;">{{sc.styleNumber}}</small>
	               			</p>
		               </td>
		               <td>{{sc.inventory }}</td>
		               <td>{{sc.tagPrice | number:2 }}</td>
		               <td>{{sc.currentPrice}}</td>
		               <td>无会员折扣</td>
		               <td>
		               		<button class="btn settle-accounts pending-btn-remove" ng-click="addShoppingCart(sc,$event)"><em class="icon-basket" style="padding-right:5px;"></em>加购</button>
		               </td>
		         	</tr>
		         </tbody>
		      </table>
         </li>
      </ul>
   </div>
   <div class="return-btn" ng-click="returnCashierView()">
   		<div class="icon-action-undo" style="padding-top:5px;"></div>
   		<div style="margin-top:-7px;">返回</div>
   	  </div>
</div>
<!-- 查询商品页面 end -->


<script type="text/ng-template" id="modalDialogId">
      <div class="ngdialog-message">
			<p style="padding:3em 1em;font:inherit;color:#8f9cb5;">是否确认删除？</p>
			<ul class="cd-buttons">
				<li>
					<a href="#0" ng-click="confirm()">确认</a>
				</li>
				<li>
					<a href="#0" ng-click="closeThisDialog()">取消</a>
				</li>
			</ul>
	  </div>
</script>
<script type="text/ng-template" id="pendingModalDialogId">
      <div class="ngdialog-message">
			<h4 style="padding:3em 1em;font:inherit;color:#8f9cb5;">确定要将订单挂起吗？<br>注意挂起的订单只当天保留，每晚12点将自动清空哦!</h4>
			<ul class="cd-buttons">
				<li>
					<a href="#0" ng-click="confirm()">确认</a>
				</li>
				<li>
					<a href="#0" ng-click="closeThisDialog()">取消</a>
				</li>
			</ul>
	  </div>
</script>

